*.o
*.DS_Store
cache/*
spmv/spmv_eigen
spmv/spmv_mkl
spmv/spmv_taco
spgemm/spgemm_eigen
spgemm/spgemm_mkl
spgemm/spgemm_taco
deps/SparseRooflineBenchmark/build
.vscode/settings.json
cache/*
*.jls
*.out
graphs/lib
graphs/bin
graphs/share
graphs/pyvenv.cfg
images/output/*
*/manifest.toml
*/Manifest.toml
old/*
morphology/output/*
*/manifest.toml
opencv/*
taco-rle/*
taco/*
.julia/*
